//header
$bg_color: #1E1E1E;
$bg_topNav: #1C1C1C;
$textColor: #FFFFFF;
$mainColor: #CAFF33;
$tagline_color: #E4E4E7;
$transactions_color: #22251B;
$exchange_btn_color: #D1FF4D;

.container {
    width: 90%;
    margin: 0 auto;
}