@import './../helpers/global';
@import './../helpers/extends';

header {
    position: relative;

    min-height: 100vh;

    background-color: $bg_color;

    &::before {
        content: '';
        position: fixed;
        width: 459px;
        height: 410px;

        background-image: url('./../assets/images/img_top.png');
        position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::after {
        content: '';
        z-index: 1;
        position: absolute;
        right: 110px;
        top: 308px;

        display: flex;
        width: 300px;
        height: 275px;
        justify-content: center;
        align-items: center;

        background-image: url('./../assets/images/header_bg.png');

        @media (max-width: 1440px) {
            right: 20px;
        }
    }

    .container {
        padding-top: 50px;
        @media (max-width: 1200px) {
            padding-top: 30px;
        }
    }

    .topNav {
        position: relative;
        z-index: 2;
        border-radius: 100px;
        padding: 20px 34px;
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: min-content min-content min-content;

        box-shadow: 0 4px 4px rgba(0, 0, 0, .2);

        background-color: $bg_topNav;

        @media (max-width: 1200px) {
            padding: 14px 24px;
        }

        &__nav {
            display: grid;
            grid-template-columns: repeat(4, min-content);
            gap: 26px;

            @media (max-width: 1200px) {
                gap: 10px;
            }

            li {
                list-style: none;
                padding: 12px 24px;
                border-radius: 82px;

                @media (max-width: 1200px) {
                    padding: 10px 18px;
                }

                &:hover {
                    background-color: #262626
                }

                a {
                    font-family: Lexend, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 27px */
                    color: $textColor;

                    @media (max-width: 1200px) {
                        font-size: 14px;
                    }
                }
            }
        }

        &__form {
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: center;
            gap: 30px;

            @media (max-width: 1200px) {
                gap: 20px;
            }

            .singUn {
                font-family: Lexend, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 27px */
                color: $textColor;

                @media (max-width: 1200px) {
                    font-size: 14px;
                }
            }

            .login {
                display: flex;
                padding: 14px 30px;
                align-items: center;
                gap: 10px;

                border-radius: 82px;
                background: $mainColor;

                font-family: Lexend, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 27px */
                color: $bg_topNav;

                @media (max-width: 1200px) {
                    padding: 12px 24px;

                    font-size: 14px;
                }
            }
        }
    }

    .headerContent {
        display: flex;
        padding-top: 100px;
        padding-right: 135px;
        align-items: flex-start;
        gap: 120px;

        @media (max-width: 1440px) {
            padding-right: 20px;
        }

        @media (max-width: 1200px) {
            padding-top: 80px;
            gap: 100px;
        }

        @media (max-width: 992px) {
            gap: 20px;
        }

        .textBlock {
            &__text {
                display: inline-flex;
                padding: 10px 20px 10px 12px;
                align-items: center;
                gap: 6px;
                border-radius: 61px;
                margin-bottom: 20px;

                background: #262626;

                @media (max-width: 1200px) {
                    padding: 8px 16px 8px 8px;
                    gap: 4px;
                }

                span {
                    font-family: Lexend;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 24px;

                    color: $textColor;

                    @media (max-width: 1200px) {
                        font-size: 14px;
                    }
                }
            }

            &__title {
                margin-bottom: 14px;
                width: 80%;

                font-family: Lexend;
                font-size: 48px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                /* 72px */

                color: $textColor;

                @media (max-width: 1440px) {
                    width: 100%;
                }

                @media (max-width: 1200px) {
                    font-size: 38px;
                    width: 100%;
                }

                @media (max-width: 992px) {
                    font-size: 24px;
                    margin-bottom: 50px;
                }

                span {
                    font-family: Lexend;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;

                    color: $mainColor;

                    @media (max-width: 1200px) {
                        font-size: 38px;
                    }

                    @media (max-width: 992px) {
                        font-size: 24px;
                    }
                }
            }

            &__tagline {
                margin-bottom: 50px;

                font-family: Lexend;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 150%;
                /* 27px */
                color: $tagline_color;

                @media (max-width: 1200px) {
                    margin-bottom: 40px;

                    font-size: 16;
                }

                @media (max-width: 992px) {
                    font-size: 11px;
                }
            }

            &__btn {
                display: flex;
                padding: 18px 30px;
                align-items: center;
                border-radius: 82px;

                background: $mainColor;
                color: $bg_topNav ;
                font-family: Lexend;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;

                /* 27px */
                @media (max-width: 1200px) {
                    padding: 14px 24px;

                    font-size: 14px;
                }

                @media (max-width: 992px) {
                    padding: 10px 16px;
                    font-size: 12px;
                }
            }
        }

        /**/
        .transactions {
            position: relative;
            z-index: 12;
            padding: 35px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-shrink: 0;

            border-radius: 10px;
            border: 0.867px solid #262626;
            background: linear-gradient(215deg, rgba(26, 26, 26) 0%, #1A1A1A 39.72%), url('./../assets/images/bg_transactions.png'), lightgray 0% 0% / 62.46418356895447px 62.46418356895447px repeat, #1A1A1A;

            @media (max-width: 1200px) {
                padding: 28px;
            }

            @media (max-width: 992px) {
                width: 40%;
                padding: 10px;
            }


            &__monthly_income {
                position: absolute;
                left: -60px;
                top: -43px;

                border-radius: 10px;
                padding: 14px 18px;
                display: flex;
                gap: 9px;

                background: $transactions_color;

                @media (max-width: 1200px) {
                    padding: 11px 13px;
                }

                .transactions__icon {
                    padding: 9px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;

                    background-color: $mainColor;

                    @media (max-width: 1200px) {
                        padding: 5px;
                        padding-top: 5px;
                        height: 30px;
                        width: 30px;
                    }
                }
            }

            &__text {
                .transactions__money {
                    font-family: Lexend;
                    font-size: 17.341px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 26.011px */
                    color: $textColor;

                    @media (max-width: 1200px) {
                        font-size: 14px;
                    }
                }

                .transactions__description {
                    font-family: Lexend;
                    font-size: 13.873px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 150%;
                    /* 20.809px */
                    color: $tagline_color;

                    @media (max-width: 1200px) {
                        font-size: 11px;
                    }
                }
            }

            &__title {
                margin-bottom: 18px;

                font-family: Lexend;
                font-size: 17.341px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                /* 26.011px */
                color: $textColor;

                @media (max-width: 1200px) {
                    font-size: 14px;
                    margin-bottom: 14px;
                }

                @media (max-width: 992px) {
                    margin-bottom: 10px;
                }
            }

            &__history_1 {
                position: relative;
                z-index: 5;
                width: 100%;
                @extend %extend_history;
            }

            &__history_2 {
                position: relative;
                top: -20px;
                z-index: 4;
                opacity: 0.5;
                margin: 0 auto;
                width: 90%;
                @extend %extend_history;
            }

            &__history_3 {
                position: relative;
                top: -40px;
                z-index: 3;
                opacity: 0.3;

                margin: 0 auto;
                width: 80%;
                @extend %extend_history;
            }

            .exchange {
                @media (max-width: 992px) {
                    margin-top: -30px;
                }

                &__title {
                    margin-bottom: 18px;

                    font-family: Lexend;
                    font-size: 17.341px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    /* 26.011px */
                    color: $textColor;

                    @media (max-width: 1200px) {
                        font-size: 14px;
                        margin-bottom: 14px;
                    }

                    @media (max-width: 992px) {
                        margin-bottom: 10px;
                    }
                }

                &__container {
                    width: 100%;
                    margin: 25px 0;
                    border-radius: 10px;
                    border: 1px solid #262626;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: max-content max-content;
                    grid-template-areas:
                        'currency currency'
                        'price price'
                    ;

                    @media (max-width: 1200px) {
                        margin: 20px 0;
                    }

                    @media (max-width: 992px) {
                        margin: 0;
                    }
                }

                &__currency-1 {
                    border-right: 1px solid #262626;
                    border-bottom: 1px solid #262626;

                    @extend %extend_currency;
                }

                &__currency-2 {
                    border-bottom: 1px solid #262626;
                    @extend %extend_currency;
                }

                &__price-1 {
                    border-right: 1px solid #262626;
                    @extend %extend_price;
                }

                &__price-2 {
                    @extend %extend_price;
                }
            }

            &__exchange {
                width: 100%;
                padding: 14px 26px;
                border-radius: 70px;

                font-family: Lexend;
                font-size: 15.607px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 23.41px */
                color: $exchange_btn_color;

                background-color: $transactions_color;

                @media (max-width: 1200px) {
                    padding: 11px 20px;
                    font-size: 12px;

                }
            }
        }
    }
}